USE [gallery]
GO
/****** Object:  Table [dbo].[tb_images]    Script Date: 03/22/2017 22:16:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[tb_images]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[tb_images](
	[image_id] [bigint] IDENTITY(1,1) NOT NULL,
	[url] [nvarchar](1024) NOT NULL,
	[img_type] [int] NOT NULL,
	[title] [nvarchar](100) NOT NULL,
	[description] [nvarchar](1024) NULL,
PRIMARY KEY CLUSTERED 
(
	[image_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET IDENTITY_INSERT [dbo].[tb_images] ON
INSERT [dbo].[tb_images] ([image_id], [url], [img_type], [title], [description]) VALUES (1, N'http://weknownyourdreamz.com/images/house/house-05.jpg', 1, N'House', N'Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris.')
INSERT [dbo].[tb_images] ([image_id], [url], [img_type], [title], [description]) VALUES (2, N'http://modularhomeowners.com/wp-content/uploads/2012/12/commodoresample6.jpg', 1, N'House', N'Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris.')
INSERT [dbo].[tb_images] ([image_id], [url], [img_type], [title], [description]) VALUES (3, N'http://clv.h-cdn.co/assets/15/50/980x784/gallery-1449795583-wenonah.jpg', 1, N'House', N'Lorem ipsum dolor sit amet, dolore eiusmod quis tempor incididunt ut et dolore Ut veniam unde nostrudlaboris.')
GO
print 'Processed 100 total records'
SET IDENTITY_INSERT [dbo].[tb_images] OFF
